
/**********************************************
HTML
**********************************************/
  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  html {

  }
  body {
    font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'calibri', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  pre {
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 1rem;
  }
  code {
    white-space: pre-line;
    font-family: 'Inconsolata', monospace;
    font-size: 1.2rem;

    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: white;
    background: #282c34;  /* space-blue darken-4 */
  }

  code span.method {
    color: yellow;
  }
  code span.num {
    color: magenta;
  }
  code span.comment {
    color: grey;
  }
  p .code {
    font-family: 'Inconsolata', monospace;
    padding: 0.1em 0.3em;
    background-color: #e0e0e0;  /* grey lighten-2 */
  }

  .note {
    background-color: #eee;       /* grey lighten-3 */
    border: 1px solid #bdbdbd;    /* grey lighten-1 */
    padding: 15px;
  }
  nav.nav-extended .nav-content.affix-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-bottom: 1px solid #e0e0e0;
  }
  .nav-wrapper {
    border-bottom: 1px solid #e0e0e0;   /* grey lighten-2 */
  }
  nav .brand-logo {
    color: #455a64;    /* blue-grey darken-2 */
    padding-left: 20px !important;
  }
  nav a {
    color: #455a64;    /* blue-grey darken-2 */
  }
  nav ul a {
    color: #455a64;    /* blue-grey darken-2 */
    font-weight: 700;
  }
  nav ul a:hover {
    background-color: transparent;
  }
  nav.nav-extended .nav-content {
    min-height: 60px;
    height: auto;
  }
  .dropdown-content {
    top: 50px !important;
    min-width: 250px;
  }
  .dropdown-content li>a, .dropdown-content li>span {
    color: #607d8b    /* blue-grey */
  }
  .dropdown-content li:hover, .dropdown-content li.active {
    background-color: #fff;
  }
  .jump-bar {
    height: 60px;
    line-height: 60px;
    display: inline-flex;
  }
  .collection {
    border: none;
  }
  .collection.with-header .collection-header {
    border-bottom: none;
  }
  .collection .collection-item {
      border-bottom: none;
  }
  .collection a.collection-item {
    font-weight: 700;
  }
  #table-of-contents {
    position: fixed;
  }
  #table-of-contents .collection a.collection-item {
    color: #42a5f5;  /* blue lighten-1 */
    padding: 5px 20px 5px 30px;
  }
  #table-of-contents .collection a.collection-item:not(.active):hover {
    background-color: #fff;
    text-decoration: underline;
  }

  #main-article {
    font-family: "Nunito", "Lato", "Helvetica-Neue", Verdana, sans-serif;
  }
  #main-article .content {
    margin-top: 20px;
  }
  #main-article .content img {
    width: 100%;
  }
  #main-article h5 {
    font-weight: 700;
    padding-top: 5rem;
  }
  #main-article p {
    font-size: 1.2rem;
    color: #323232;
  }
  #main-article li {
    font-size: 1.2rem;
    color: #323232;
  }
  #main-article ul {
    list-style-type: inherit;
    padding-left: 2rem;
  }
  #main-article ul li {
    list-style-type: inherit;
  }
  #related-articles {

  }
  #related-articles .collection a.collection-item {
    color: #455a64    /* blue-grey darken-2 */
  }
  #related-articles .collection a.collection-item:not(.active):hover {
    background-color: #fff;
    color: #03a9f4 /* LIGHT-BLUE */
  }
